# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Production / Build
dist/
.next/
out/
build/

# IDEs and Tools
.DS_Store
.vscode/
.idea/
*.log
*.tsbuildinfo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Extension specific
extension/dist/

# Dapp specific
dapp/.next/
dapp/out/
